.header-block {
    display: flex;
    justify-content: flex-end;
}

.title-block {
    color: #FF0000;
    margin: 0px;
    padding-right: 20px;
}

.login-form-block {
}

.login-form-block_text {
    margin: 0px;
}
