.container {
    background-image: url(../img/top_page.png);
}

.top-page-block {
    color: #FFF;
    text-align: center;
}

.top-page-block_title {
    margin-top: 0px;
    font-size: 50px;
    padding-top: 200px;
}

.top-page-block_sub-title {
    font-size: 25px;
}

.profile-link-block {
    color: #FFF;
}